<div class="row">
    <div class="col-lg-12" >
        <div>Enter Origin</div>
        <div style="display: flex">
            <input type="text" id="origin-autocomplete" class="origin-field form-control" >
            <button style="border: 1px solid black;
            border-radius: 5px;"><i class="nc-icon nc-globe"></i></button>
        </div>
    </div>
    <div class="col-lg-12" style="margin-top: 20px">
        <div>Enter Destination</div>
        <input type="text" id="destination-autocomplete" class="destination-field form-control">
    </div>
    <div class="col-lg-12" style="display: flex; justify-content:flex-end; margin-top: 10px"><button (click)="getDirections()">Get Directions</button></div>
</div>

<div class="row">
    <div class="col-lg-12" style="margin-top: 20px">
        <div class="map" id="map"></div>
        <a href={{navigateURL}} *ngIf="directionsLoaded">
            <button>navigate</button>
        </a>
    </div>
</div>